<div id="help" class="page">
	<div class="header">
		<div class="btn-group pull-left">
			<button class="btn dropdown-toggle icon-align-justify" data-toggle="dropdown"></button>
			<ul class="dropdown-menu">
				<li ng-show="homeEnabled"><a href="#home" class="icon-home"><span>Accueil</span></a></li>
				<li><a href="#settings" class="icon-cog"><span>Réglages</span></a></li>
				<li><a href="#help" class="icon-question-sign"><span>Aide</span></a></li>
				<li class="divider"></li>
				<li><a href="#about" class="icon-group"><span>A propos</span></a></li>
				<li ng-show="rateEnabled"><a class="icon-star" ng-click="rateApplication()"><span>Notez cette application!</span></a></li>
			</ul>
		</div>
	</div>

	<div class="content">
		<p class="title">Aide <i class="icon-question-sign"></i></p>

		<div class="panel">
			<div class="panel-icon"><i class="icon-book icon-2x"></i></div>
			<div class="panel-section">
				<p class="title">Manuel utilisateur</p>
				<p>Visualisez le guide d'utilisation de StopWifi au format PDF.</p>
				<p><span class="icon-download icon-2x" ng-click="showUserGuide()"></span></p>
			</div>
		</div>

		<div class="panel">
			<div class="panel-icon"><i class="icon-desktop icon-2x"></i></div>
			<div class="panel-section">
				<p class="title">Support en ligne (Facebook)</p>
				<p>Vos questions ne se trouvent pas dans le guide d'utilisation, posez votre question à la communauté!</p>
				<p><span class="icon-download icon-2x" ng-click="showOnlineSupport()"></span></p>
			</div>
		</div>

		<div class="panel">
			<div class="panel-icon"><i class="icon-envelope icon-2x"></i></div>
			<div class="panel-section">
				<p class="title">Support par email</p>
				<p>Des questions / commentaires concernant cette application? Posez votre question par email et nous vous répondrons dans les plus brefs délais!
				<p><span class="icon-download icon-2x" ng-click="showEmailForm()"></span></p>
			</div>
		</div>

		<p>
			<i class="icon-question-sign icon-large"></i>
		</p>
		<p class="help help-title">
			{{helpInfo.help1}}
		</p>
		<p class="help">
			{{helpInfo.help2}}
		</p>
	</div>
</div>
<div spinner id="spinner" ng-show="loading">
	<img src="img/ajax-loader.gif" class="ajax-loader"/>
</div>